/**************TM BOX CATEGORY***********************/
/*========================================================
                   Bootstrap Reset
=========================================================*/
button, .btn {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
button::-moz-focus-inner, .btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
button:focus, .btn:focus {
  outline: none;
}

label, input, button, select, textarea {
  font-size: 13px;
  color: #777777;
}
@media (min-width: 768px) and (max-width: 991px) {
  label, input, button, select, textarea {
    font-size: 10px;
  }
}

label {
  font-weight: bold;
  cursor: default;
}

textarea {
  resize: none;
}

blockquote {
  font-size: inherit;
  line-height: inherit;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  font-size: 13px;
  border-radius: 0;
  box-shadow: none;
}

select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control, .input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover, .input-group-addon {
  font-size: 12px;
}

input[type="checkbox"], input[type="checkbox"]:focus, input[type="radio"], input[type="radio"]:focus {
  outline: none;
}

.bootstrap-datetimepicker-widget {
  z-index: 999 !important;
}
.bootstrap-datetimepicker-widget td.day:hover,
.bootstrap-datetimepicker-widget td.minute:hover,
.bootstrap-datetimepicker-widget td.second:hover,
.bootstrap-datetimepicker-widget thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget td span:hover {
  background-color: transparent;
}
.bootstrap-datetimepicker-widget .timepicker {
  margin-top: 5px;
}
.bootstrap-datetimepicker-widget .timepicker td > span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 5px 0;
}
.bootstrap-datetimepicker-widget .timepicker td > span:hover {
  color: #58364e;
}

.bootstrap-datetimepicker-widget td.day.active,
.bootstrap-datetimepicker-widget td.day.active:hover {
  background: #58364e;
  color: #FFF;
  cursor: inherit;
}

.container > .alert,
.breadcrumb + .alert {
  position: fixed;
  z-index: 1000;
}

.alert {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 8px 14px 8px 14px;
  z-index: 30;
  color: #FFF;
  border-radius: 0;
}
.alert i {
  font-size: 21px;
  margin-right: 5px;
}
.alert a {
  text-decoration: underline;
}
.alert a:hover {
  text-decoration: none;
  color: #FFF;
}
.alert button.close {
  color: #FFF;
}
.alert button.close:hover, .alert button.close:focus {
  opacity: 1;
  color: #FFF;
}

.alert-success {
  background-color: #55C65E;
  border: 1px solid #48B151;
}

.alert-danger {
  background-color: #F3515C;
  border-color: #D4323D;
}

.alert-info {
  background-color: #FE9126;
  border-color: #E4752B;
}

.alert-warning {
  background-color: #EC710D;
  border-color: #D45634;
}

.pagination {
  margin: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:first-child > a, .pagination > li:first-child > span {
  border-radius: 0;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #58364e;
  border-color: #58364e;
  color: #FFF;
}

.pagination > li > a, .pagination > li > span {
  color: #777777;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background: #777777;
  border-color: #777777;
  color: #FFF;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: none;
  text-decoration: none;
}

.table thead td {
  text-transform: uppercase;
  font-weight: bold;
  color: #323232 !important;
  font-size: 13px;
  background-color: #F9F9F9;
}

.table th,
.table td {
  padding: 20px;
  border-color: #D7D7D7;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.block-compare .table th, .block-compare .table td {
  padding: 7px;
}

.panel-group .panel, .panel, .table-bordered, .table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child, .table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child, .table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
  border-radius: 0;
}

.table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border-color: #58364e;
}

.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
  white-space: normal;
}

.table > tbody + tbody {
  border-top: none;
}

.panel-heading {
  padding: 20px;
}

.addthis_button_tweet {
  width: 100px !important;
}

.fancybox-close, .fancybox-prev span, .fancybox-next span {
  opacity: 0.8;
}

.fancybox-close:hover, .fancybox-prev span:hover, .fancybox-next span:hover {
  opacity: 1;
}

.text-danger {
  color: #F00;
}

.has-error * + .text-danger {
  margin-top: 5px;
}

.buttons input[type="checkbox"] {
  position: relative;
  top: 2px;
}

.tooltip {
  z-index: 10000;
}

aside .box.category {
  width: 100%;
  float: none;
}

.box.category {
  position: relative;
  overflow: visible;
  background: linear-gradient(to right, #f1f2f3 0%, #f0f1f2 79%, #e5e6e7 100%);
}
.box.category .category_menu > li {
  position: relative;
  border: none;
}
.box.category .category_menu > li > a {
  position: relative;
  font-size: 18px;
  display: block;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
  padding: 12px 10px 15px 48px;
}
.box.category .category_menu > li > a:hover {
  color: #58364e;
}
.box.category .category_menu > li > a:before {
  display: none;
}
.box.category .category_menu > li > a.children {
  position: relative;
}
.box.category .category_menu > li > a.children:after {
  content: '\e0c2';
  margin-right: 30px;
  font-family: 'material-design';
  line-height: 20px;
  font-size: 23px;
  position: relative;
  float: right;
}
@media (max-width: 767px) {
  .box.category .category_menu > li > a.children:after {
    display: none;
  }
}
@media (max-width: 991px) {
  .box.category .category_menu > li > a {
    padding-left: 20px;
  }
  .box.category .category_menu > li > a.children:after {
    margin-right: 15px;
  }
}
.box.category .category_menu > li:active > ul, .box.category .category_menu > li:hover > ul {
  opacity: 1;
  visibility: visible;
}
.box.category .category_menu > li:first-child {
  margin-top: 10px;
}
.box.category .category_menu > li:last-child {
  padding-bottom: 25px;
}

.common-home .box.category .category_menu > li > ul {
  left: 100%;
  top: -80px;
}

.box.category .category_menu > li > ul {
  border-radius: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 100%;
  top: 0;
  padding: 0;
  background-color: #fff;
  /* padding: 45px 45px 60px 26px; */
  padding: 30px 45px 30px 26px;
  width: 701px;
  max-height: 597px;
  z-index: 97;
  display: block;
  -moz-transition: 0.6s all ease;
  -o-transition: 0.6s all ease;
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease;
}
.box.category .category_menu > li > ul img {
  display: none;
}
.box.category .category_menu > li > ul b {
  display: block;
  margin-bottom: 16px;
  padding-left: 24px;
  padding-top: 2px;
}
.box.category .category_menu > li > ul b a {
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  color: #333333;
}
.box.category .category_menu > li > ul b a:before {
  display: none;
}
.box.category .category_menu > li > ul b a:hover {
  background: none;
  color: #58364e;
}
.box.category .category_menu > li > ul b:after {
  content: '';
  width: 100%;
  height: 2px;
  /* margin-top: 25px; */
  margin-top: 5px;
  display: block;
  background: #58364e;
}
.box.category .category_menu > li > ul > li {
  margin-top: 5px;
  width: 33.3333%;
  height: 70px;
  float: left;
  list-style-type: none;
}
.box.category .category_menu > li > ul > li a {
  color: #777777;
  /* padding: 10px 25px;
  font-size: 18px;
  line-height: 22px; */
  padding: 5px 5px;
  font-size: 16px;
  line-height: 19px;
  display: block;
}
.box.category .category_menu > li > ul > li a:hover {
  color: #fff;
  background: #58364e;
}
.box.category .category_menu > li > ul > li a:before {
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .box.category .category_menu > li > ul {
    width: 500px;
    padding-right: 0;
  }
  .box.category .category_menu > li > ul > li a {
    font-size: 16px;
    padding: 5px 15px;
  }
}
@media (max-width: 767px) {
  .box.category .category_menu > li > ul {
    display: none;
  }
}
